* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.plate1{
  display: flex;
  justify-content: center;
  height: 800px;
  margin: 50px 0px;
}

.signContainer1 {
  height: 800px;
  width: 50%;
  background-color:  rgb(131, 32, 81);
  padding: 20px;
  border-radius: 20px;
}

body {
  color: hsl(0, 0%, 90%);
  background-color: rgba(70, 3, 36, 0.9);
}

.signContainer h1, .signContainer1 h1 {
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-size: 20px;
}

/* REGISTRATION FORM PAGE STYLING */
#registerForm{
  margin: 20px 0px;
  padding: 0px 15px;
}

#registerForm label {
  margin-top: 20px;
}

#registerForm input {
  width: 90%;
  margin: 5px 0px 20px 0px;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: rgba(70, 3, 36, 0.3);
  padding: 5px;
  color: hsl(0, 0%, 90%);
}

#registerForm input::placeholder{
  color: hsl(0, 0%, 60%);
}

.signContainer p, .signContainer1 p {
  text-align: center;
  line-height: 20px;
}

.signContainer p a, .signContainer1 p a {
  text-decoration: none;
  color: rgba(70, 3, 36, 0.9);
}

.signContainer p a:hover, .signContainer1 p a:hover{
  color: rgba(245, 52, 158, 0.7);
}


/* LOG IN PAGE STYLING */
.plate {
  display: flex;
  justify-content: center;
  height: 530px;
  margin: 50px auto;
}

.signContainer {
  width: 50%;
  height: 530px;
  background-color:  rgb(131, 32, 81);
  padding: 20px;
  border-radius: 20px;
}

#logInForm {
  margin: 30px 10px;
}

#username {
 margin: 10px 0px 50px 0px;
}

#logInForm #username, #logInForm #password, #btn2 {
  width: 90%;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: rgba(70, 3, 36, 0.3);
  padding: 5px;
  color: hsl(0, 0%, 90%);
}

#logInForm input::placeholder{
  color: hsl(0, 0%, 60%);
}

span {
  margin-left: 20px;
  margin-top: 10px;
}

#checkbox {
  margin-top: 10px;
  margin-bottom: 100px
}

.signContainer h3, .signContainer1 h3 {
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
}

.signContainer h3 a, .signContainer1 h3 a {
  text-decoration: none;
  color: rgba(70, 3, 36, 0.9);
}

.signContainer h3 a:hover, .signContainer1 h3 a:hover {
  color: rgba(245, 52, 158, 0.7);
}

.signContainer input[type=button], input[type=checkbox]{
  cursor: pointer;
}

textarea {
  margin: 10px 0px;
  background-color: rgba(70, 3, 36, 0.3);
  border: none;
  border-radius: 10px;
  padding: 5px;
}

#registerForm .cntactbtn {
  margin-top: 40px;
  border: none;
  color: inherit;
}

#priority {
  background-color: rgba(70, 3, 36, 0.3);
  color: hsl(0, 0%, 60%);
  border-radius: 10px ;
  padding: 5px;
  margin-top: 10px;
}

#gender {
  border: none;
  width: 90%;
  background-color: rgba(70, 3, 36, 0.3);
  color: hsl(0, 0%, 60%);
  border-radius: 5px ;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

@media screen and (min-width: 375px){
 .signContainer, .signContainer1 {
   width: 80%;
 } 
}

@media  screen and (min-width:700px) {
  .signContainer, .signContainer1{
    width: 40%;
  }
}

@media  screen and (min-width:1000px) {
  .signContainer, .signContainer1{
    width: 27%;
  }
}